html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 124px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  background-color: #fff;
  color: $color-text;
  overflow-x: hidden;
}

.body-nojs {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@include breakpoint-down (1180) {
  body {
    margin-top: 156px;
  }
}

@include breakpoint-down (1050) {
  body {
    margin-top: 68px;
  }
}
